
* {
    font-family: 'Montserrat', sans-serif;

}
.container {
  align-items: center;
}

.fave-page-title {
  margin: 30px; 
}
.nofavorites {
  margin: 40px;
} 

/* home page(HEADER)------------------------- */
.logo {
  height: 80px;
  width: 80px; 
}

.title a {
  color: white;
  font-size: 30px;
}

header {
  background-color: #db9d47d5;
  width: 100%;
  
}

header.jumbotron {
  background-color:#db9d47d5;
  color: white;
  margin-bottom: 25px;
  height: 150px;
}

header.jumbotron a, header.jumbotron a:hover {
  color: white;
}

/* home page (NAV BAR)----------------------------- */
#nav {
  width: 100%;
  float: left;
  margin: 0.5em 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: rgb(200, 198, 198);
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-right: 1px solid #ccc; 
}

#nav li {
  padding-top: none;
  float: left; 
}

.activeLink {
  background-color: #ffce8ad5;
  border: 3px solid #ffce8ad5;
}

#nav li button {
  position: absolute;
  right: 16px;
  color:white;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #db9d47d5;
  font-weight: bold;
}

/* home page (DOG CARDS) --------------------------*/
.cards-list-title {
  padding-top: 25px;
  text-align: center;
  margin-right: auto;
}

.card-deck .card {
  flex-basis: 250px;
  margin-bottom: 30px;
  justify-content: center;
  flex-grow: unset;
}

.card-deck {
  justify-content: center;
  margin: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-right:0;
  padding-right: 0;
}

.card-title {
  width: auto;
  }

.card-body {
  height: fit-content;
  text-align: center;
  font-size: 18px;
}

.card-img-top {
  height: auto;
}

.clickable {
  cursor: pointer;
}

/* home page (FILTER) ---------------------*/
.filter {
  width: 100%;
  padding-top: 30px;
}
.filter-container {
  margin-left: 30px;
  margin-right: 30px;
}

.filterandcards {
  margin-right: 0px;
}

/* ABOUT PAGE -------------------------------------*/
.about-page-title {
   color: white;
   padding-top: 100px;
}

.background-img {
  margin-left: 30px;
  margin-right: 30px;
  background-image: url(./dpgs.png);
  width: auto;
  height: 350px;
}

.about-content {
  padding: 20px;
  padding-top: 25px;
  margin: 30px;
}

.inner {
  width: 40%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  color: white;
}

/* BREED PAGE:--------------------- */
.headname {
  padding: 15px;
}

.husky-head {
  text-align: center;
}

.breed-content {
  width: fit-content;
}

.husky-cards {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.colors-br {
  font-size: 14pt;
}

.husky-info-container p  {
  font-size: 14pt;
}

.dog-img-top {
  width: 70%;
  align-items: center;
}

.favButton {
  position: center;
  right: 16px;
  color: white;
  background-color: #db9d47d5;
  border: none;
  cursor: pointer;
  margin: 4px 4px;
  transition-duration: 0.4s;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 12pt;
}

.favButton:visited {
  background-color: white;
  border: none;
  cursor: pointer;
}

.faveStarpage {
  position: absolute;
  top: 8px;
  right: 16px;
  color:#db9d47d5;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.fave-page-title {
   margin-bottom: 30px;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.btn {
  color: #db9d47d5;
  background-color: white;
  border: 2px, #db9d47d5;
  font-weight: 500;
  transition-duration: 0.4s; 
  
} 

.logout-button {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #db9d47d5;
  color: white;

}

.signup-title {
  text-align: center;
  color: white
}

.signup-page {
  height: 2000px;
  background-color: #db9d47d5;
}

.logoSign {
  padding-top: 100px;
  padding-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Responsive Design */
@media (min-width: 578px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .logoSign {
    width: 10%;
  }
}