
header.jumbotron {
    background-color:#db9d47d5;
    color: white;
    margin-bottom: 25px;
    height: 150px;
  }
  
  header.jumbotron a, header.jumbotron a:hover {
    color: white;
  }
  
  nav {
    background-color: #ddd;  
    margin-bottom: 2em; 
    padding: 1em;
    width: 100%;
  }
  
  nav h2 {
    font-size: 1.25rem;
  }
  
  /* keep images in check */
  .card-deck .card {
    flex-basis: 250px;
    margin-bottom: 30px;
  }
  
  .activeLink {
    background-color:#eee;
    border: 1px solid #ddd;
  }
  
  .carousel {
    width:350px;
    margin-bottom: 1em;
  }
  
  .clickable {
    cursor: pointer;
  }




/* ------------------------------------------------- */
* {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 120px;
    width: 120px; 
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.card-body {
    height: 60px;
    text-align: center;
    font-size: 20px;
}

.about-page-title {
    background-image: url(./dpgs.png);
    background-size: auto;
    background-position: center;
    height: 50vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.about-content {
    padding: 15px;
}






